body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
}

img {
    width: 150px;
    height: auto;
}

div {
    padding: 10px;
}

img:hover {
    transform: scale(1.2,1.2);
}

/* Winter */
img:nth-of-type(1) {
    display: block;
    margin: 50px auto;
}

div:nth-of-type(1){
    background-color: #90e0ef;
}

/* Spring */
img:nth-of-type(2) {
    display: block;
    margin: 50px auto;
}

div:nth-of-type(2){
    background-color: #ffc6ff;
}

/* Summer */
img:nth-of-type(3) {
    display: block;
    margin: 50px auto;
}

div:nth-of-type(3){
    background-color: #ffdd00;
}

/* Fall */
img:nth-of-type(4) {
    display: block;
    margin: 50px auto;
}

div:nth-of-type(4) {
    background-color: #ddb892;
}