#winter {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
    background-color: #90e0ef;
}

#spring {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
    background-color: #ffc6ff;
}

#summer {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
    background-color: #ffdd00;
}

#fall {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-style: italic;
    background-color: #ddb892;
}

img {
    width: 40%;
}

a {
    text-decoration: none;
    color: white;
}

#nav-button {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5em;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 10%;
}

#nav-button:hover {
    cursor: pointer;
    transform: scale(1.05,1.05)
}

hr {
    width: 60%;
    margin-top: 20px;
    border: 1px solid white;
}